<!doctype html>
<html lang="en">
    <head>
        <title>Web Cowl</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            type="module"
            src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"
        ></script>
    </head>
    <body>
        <h1><a href="{{ url_for('home') }}">Web Cowl</a></h1>
        <ul>
            <li><a href="{{ url_for('owl.main') }}">owl</a></li>
        </ul>

        <h1>{% block title %}{% endblock %}</h1>

        {% block content %}{% endblock %}
    </body>
</html>
