{# Template for the cow command fragment. Not a standalone temlate #}

<div
    id="cow-command-view"
    data-signals="{ {% for field in fields %}{{ field.signal_error }}: '',{% endfor %}}"
    {# data-computed-combined-error="{% for field in fields %}${{ field.signal_error }} + {% endfor %} ''" #}
>
<nav>
    <ul class="breadcrumb_list">
    {% set home_route = url_for("cow.set_command", cmd_path="") %}
    <li class="cow_home"><button class="cow_command breadcrumb" data-on-click="@post('{{ home_route }}')">Home</button></li>
    {% for breadcrumb, path in breadcrumbs %}
        {% set breadcrumb_route = url_for("cow.set_command", cmd_path=path) %}
        <li><button class="cow_command breadcrumb" data-on-click="@post('{{ breadcrumb_route }}')">{{ breadcrumb }}</button></li>
    {% endfor %}
    </ul>
</nav>

{% if description|length > 0 %}
<p class="command_description">{{ description }}</p>
{% endif %}

{% if messages|length > 0 %}
<h2>Messages</h2>
<ul class="message_list">
    {% for message in messages %}
        <li>
            {% set message_route = url_for("cow.set_command", cmd_path=message.full_path) %}
            <button
                class="cow_command"
                data-on-click="@post('{{ message_route }}')"
                title="({{ message.name }}) {{ message.description }}"
            >{{ message.display_name }}</button>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if fields|length > 0 %}
<h2>Fields</h2>
<ul class="field_list">
{% for field in fields %}
    <li><div class="command_field">
        <div class="label_input_row">
            <div class="field_label">
                <label for="{{ field.name }}">{{ field.display_name }}</label>
            </div>
            <div class="field_inputs">
            {% set update_signals_route = url_for("cow.update_field") %}
            {% if field.is_enum %}
                <select
                    data-bind="{{ field.signal_name }}"
                    data-on-change="@post('{{ update_signals_route }}')"
                >
                    <option value="">Select...</option>
                    {% for name, value in field.enum_values %}
                        <option value="{{ value }}">{{ name }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="text"
                    data-bind="{{ field.signal_name }}"
                    {# on-change isn't triggered for text inputs until defocusing #}
                    data-on-keydown__debounce.500ms="@post('{{ update_signals_route }}')"
                >
            {% endif %}
            {# TODO CSS to keep this beside the input, at all sizes #}
            <button data-on-click="${{ field.signal_name }} = ''; @post('{{ update_signals_route }}')">×</button>
            </div>
        </div>
        <p class="field_error" data-text="${{ field.signal_error }}"></p>
        <span class="field_description">({{ field.name }}) {{ field.description }}</span>
    </div></li>
{% endfor %}
</ul>
{% endif %}

{# TODO conditions for when to render submit button or not #}
{% set submit_route = url_for("cow.submit") %}
<button
    id="submit"
    data-on-click="@post('{{ submit_route }}')"
    {# data-attr-disabled="$combinedError !== ''" #}
>Submit</button>

{# <p>Combined: <span data-text="$combinedError"></span></p> #}

</div>
