{% extends 'base.html' %}

{% block title %}
<h1>Owl</h1>
{% endblock %}

{% block content %}
{# separate variable because I can't figure out another way to nest/escape quotes #}
{% set update_route = url_for("owl.updates") %}
<div
    data-on-load="@get('{{ update_route }}')"
    data-signals="{{ config.signal_spec }}"
>
    {% for box in config.boxes %}
    <table style="border: {{ box.color }}; background-color: {{ box.background_color }};" class="data_box">
        <tr>
            <th colspan="2" style="color: {{ box.color }};">{{ box.name }}</th>
        </tr>
        {% for entry in box.entries %}
            <tr>
                <td class="data_label">{{ entry.label }}</td>
                <td class="data_value" data-text="${{ entry.signal_name }}"></td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
