{% extends 'base.html' %}

{% block title %}
<h1>Owl</h1>
{% endblock %}

{% block content %}
{# separate variable because I can't figure out another way to nest/escape quotes #}
{% set update_route = url_for("owl.updates") %}
<div data-on-load="@get('{{ update_route }}')" data-signals="{'field_time': 'loading'}">
    <table class="data_box">
        <tr>
            <th colspan="2">Sample Box</th>
        </tr>
        <tr>
            <td class="data_label">Time</td>
            <td class="data_value" data-text="$field_time">Current time</td>
        </tr>
    </table>
</div>
{% endblock %}
