nav {
    display: flex;
    height: 50px;
    background-color: #aaa;
}
nav * {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav a {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #333;
    color: white;
}
nav a:hover {
    background-color: #303;
}
.data_box {
    background-color: #eee;
    border: #333;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 5px;
    margin: 2px;
}
.data_label {
    padding-left: 5px;
    padding-right: 10px;
}
.data_value {
    padding-right: 5px;
    text-align: right;
}
table {
    border-collapse: collapse;
}

/* styles for visual limits indicators */
.extra_high {
    background-color: #fcc;
}
.extra_high * {
    font-weight: bolder;
    color: #900;
}
.high .data_value {
    font-weight: bolder;
    color: #900;
}
.extra_low {
    background-color: #cfc;
}
.extra_low * {
    font-weight: bolder;
    color: #090;
}
.low .data_value {
    font-weight: bolder;
    color: #090;
}
.ignore .data_value {
    color: #777;
}
