nav {
    display: flex;
    height: 50px;
    background-color: #aaa;
}
nav * {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav a {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #333;
    color: white;
}
nav a:hover {
    background-color: #303;
}
.data_box {
    background-color: #eee;
    border: #333;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 5px;
    margin: 2px;
}
.data_label {
    padding-right: 10px;
}
