nav {
    display: flex;
    background-color: #aaa;
}
nav.topnav {
    height: 50px;
}
nav.topnav * {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav.topnav a {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #333;
    color: white;
}
nav.topnav :hover {
    background-color: #303;
}
/**************************************************************************
 * Owl-specific styles
 */
.owl_main {
    display: flex;
    flex-flow: row wrap;
}
.owl_box {
    background-color: #eee;
    border: #333;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 5px;
    margin: 2px;
}
.owl_label {
    padding-left: 5px;
    padding-right: 10px;
}
.owl_value {
    padding-right: 5px;
    text-align: right;
}
table {
    border-collapse: collapse;
}

/* styles for owl visual limits indicators */
.extra_high {
    background-color: #fcc;
}
.extra_high * {
    font-weight: bolder;
    color: #900;
}
.high .owl_value {
    font-weight: bolder;
    color: #900;
}
.extra_low {
    background-color: #cfc;
}
.extra_low * {
    font-weight: bolder;
    color: #090;
}
.low .owl_value {
    font-weight: bolder;
    color: #090;
}
.ignore .owl_value {
    color: #777;
}

/**************************************************************************
 * Cow-specific styles
 */
 .cow_command {
     padding: 0.4rem;
 }
.breadcrumb_list {
    padding-left: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.breadcrumb_list * {
    font-size: 1rem;
    font-weight: bold;
}
.breadcrumb_list li {
    display: inline;
    padding-right: 0.4rem;
}
.breadcrumb_list li:before {
    content: '>';
}
li.cow_home:before {
    content: none;
}
.message_list li {
    display: inline-grid;
    /* TODO fix me: this doesn't handle labels longer than 12rem */
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
}
